/* Default browser style resets */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Site styles */

html,
body {
  height: 100%;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#d7f89f, #96e6cb);
}

body {
  display: flex;
  flex-direction: column;
}

.Header {
  padding: 16px;
}

.Header-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 695px;
}

.Main {
  display: grid;
  margin: 0 auto;
  max-width: 1112px;
  padding: 0 32px;
  grid-template-areas:
    "hint1 image hint4"
    "hint2 image hint5"
    "hint3 image hint6";
  grid-template-columns: 268px auto 268px;
  gap: 16px;
  grid-auto-flow: column;
  align-items: center;
}

.Main-imageWrapper {
  display: flex;
  grid-area: image;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("pokeball.png");
}

.Main-image {
  filter: brightness(0%);
  width: 100%;
}

.Main-hintBox {
  display: flex;
  margin-left: 25%;
  height: 64px;
  border-radius: 15px;
  padding: 0 16px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #50ce9f;
  color: #fff;
}

.Main-hintBox:nth-child(odd) {
  margin-left: 0;
  margin-right: 25%;
}

.UI {
  margin: 16px;
}

.UI-name {
  margin-bottom: 16px;
  text-align: center;
  font-size: 48px;
}

.UI-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.UI-sideCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.UI-stat,
.UI-button {
  width: 160px;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.UI-stat {
  border-radius: 15px;
  padding: 8px;
  background-color: #50ce9f;
  color: #fff;
}

.UI-guessBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.UI-inputBox {
  height: 2rem;
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.UI-submit {
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  background-color: #fff;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.UI-button {
  background-color: #fff;
}

.Footer {
  margin-top: auto;
  background-color: #50ce9f;
  padding: 8px;
  text-align: center;
  color: #000;
  font-style: italic;
  font-size: 12px;
}

/* Mobile styles */

@media (max-width: 991px) {
  .Main {
    width: 100%;
    grid-template-areas:
      "image image"
      "hint1 hint2"
      "hint3 hint4"
      "hint5 hint6";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .Main-image {
    max-width: 256px;
  }

  .Main-hintBox,
  .Main-hintBox:nth-child(odd) {
    margin: 0;
    height: 48px;
    width: 100%;
    max-width: 268px;
  }

  .UI-name {
    font-size: 32px;
  }

  .UI-guessBox {
    order: -1;
    width: 100%;
  }
}
