@font-face {
  font-family: "Digital 7";
  src: url ("Digital7.ttf") format("truetype");
}

body {
  background-color: #29355a;
  box-sizing: border-box;
}

.calcBody {
  background-color: #3970c2;
  width: 615px;
  height: 835px;
  margin: 0 auto;
  border-radius: 15px;
}

.numWindow {
  background-color: #d2cfa2;
  width: 535px;
  height: 125px;
  position: relative;
  top: 35px;
  margin: 0 auto;
  border-radius: 15px;
}

.numDisplay {
  color: #000000;
  width: 535px;
  height: 125px;
  top: 10px;
  font-family: "Digital 7", "Courier New", serif;
  position: relative;
  font-size: 100px;
  text-align: right;
  padding-right: 20px;
}

.logoType {
  color: #ffffff;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: bolder;
  font-size: 50px;
  position: relative;
  top: 50px;
  height: 95px;
  text-align: right;
  padding-right: 40px;
}

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 20px;
  margin: 0 auto;
  height: 550px;
  width: 585px;
  border-radius: 15px;
  border-color: #29355a;
  border: 4px solid;
}

.wButton {
  background-color: #ffffff;
  color: #29355a;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  width: 120px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
}

.rButton {
  background-color: #ed302e;
  color: #ffffff;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  width: 120px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
}

.lButton {
  background-color: #ed302e;
  color: #ffffff;
  font-family: "Verdana", "Arial", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  width: 200px;
  height: 80px;
  text-align: center;
  border-radius: 15px;
}
